:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
    --cor0: #000000;
    --cor1: #ffffff;
    --cor2: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor2);
    font-family: var(--fonte1);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

header {
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section.normal {
    background-color: var(--cor1);
    color: var(--cor0);
}

section.imagem {
    background-color: var(--cor2);
    color: var(--cor1);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
}

section p {
    padding-bottom: 2em;
}

#img01 {
    background-image: url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?w=1200');
    background-position: right center;
}

#img02 {
    background-image: url('https://images.unsplash.com/photo-1455390582262-044cdead277a?w=1200');
    background-position: right center;
}

footer {
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
